@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(https://images.pexels.com/photos/4194858/pexels-photo-4194858.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin-bottom: 17px;
}

h1 {
  color: aliceblue;
  text-align: center;
  padding: 5px;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
}
